<div class="news-title-container">
  <h1 class="page-title"><%= translated_attribute(current_component.name) %></h1>
   <% if current_user && current_user.admin? %>
   <%= link_to t("actions.new", scope: "decidim.blogs", name: t("models.post.name", scope: "decidim.blogs.admin")), send(current_component.mounted_admin_engine).new_post_path, class: "button tiny button--title" %>
   <% end %> 
</div>

<%= render partial: "medias-section" %>

<% if browser.mobile? %>
  <ul class="news-list">
  <% if paginate_posts.empty? %>
  <div class="br-message info" role="alert">
    <div class="message-icon"><i class="fas fa-info-circle fa-lg" aria-hidden="true"></i></div>
    <div class="content"><span class="message-title">A página não possui publicação.</span></div>
   </div>
  <% else %> 
    <% paginate_posts.each do |post| %>
      <li class="news-item">
        <div class="br-card h-fixed">
          <div class="card-header">
            <%= link_to post, class: "news-title" do %>
              <%= translated_attribute post.title %>
            <% end %>
            <p class="br-card-date">
              <%= l post.created_at, format: "%d/%m/%Y" %>
            </p>
            <% if post.photo.present? %>
              <%= link_to post do %>
                <%= image_tag post.photo.url, class: "news-cover-image" %>
              <% end %>
            <% end %>
          </div>
          <div class="br-card-content" tabindex="0">
            <%= translated_attribute post.subtitle %>
          </div>
          <div class="card-footer">
            <div class="d-flex">
              <%= link_to post, class: "card__link" do %>
                <button class="br-button" type="button">Ler mais</button>
              <% end %>
              <div class="ml-auto">
                <button class="br-button circle" type="button" aria-label="Ícone de compartilhamento"
                onclick="navigator.share({title: '<%= translated_attribute post.title %>', url: '<%= post_path(post) %>'})">
                  <i class="fas fa-share-alt" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  <ul>
<% end %>
<% else %>
  <ul class="news-list">
  <% if paginate_posts.empty? %>
  <div class="br-message info" role="alert">
    <div class="message-icon"><i class="fas fa-info-circle fa-lg" aria-hidden="true"></i></div>
    <div class="content"><span class="message-title">A página não possui publicação.</span></div>
   </div>
  <% else %>
    <% paginate_posts.each do |post| %>
      <li class="news-item">
        <div class="news-card">
            <div class="news-content">
              <%= link_to post, class: "news-title" do %>
                <%= translated_attribute post.title %>
              <% end %>
              <span class="news-description">
                <span class="news-date">
                  <%= l post.created_at, format: "%d/%m/%Y" %>
                </span>
                - <%= translated_attribute post.subtitle %>
              </span>
            </div>

            <div class="news-image-container">
              <% if post.photo.present? %>
                <%= link_to post do %>
                  <%= image_tag post.photo.url, class: "news-cover-image" %>
                <% end %>
              <% end %>
            </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
<% end %>

<div class="pagination-container">
  <%= decidim_paginate paginate_posts %>
</div>

<%= render partial: "medias-section" %>