.meetings-footer-components .section.documents {
    display: flex;
    justify-content: center;
    background-color: var(--blue-3);
    padding: 33px;
    width: 100%;

}
.attachments .section-heading {
    margin: 0 0 2rem 0;
}

.download-attachment {
    width: 15px;
    height: 15px;
}

.card.br-card--list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    gap: 24px;
    background-color: var(--blue-3);
}

.card.br-card--list .br-card--list__data{
    border-radius: 10px;
    align-items: center;
}

.documents {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.documents .card {
    border-radius: 0px;
    border: none;
    box-shadow: none;
}

.br-card--list__heading.heading6 {
    display: block;
    align-items: center;
    align-content: center;
    text-transform: none;
    color: var(--blue-warm-vivid-60);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Rawline;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75%;
    white-space: nowrap;
    
    @media (max-width: 400px) {
        max-width: 100px;
    }
}

.br-card--list__item {
    min-width: 200px;
    display: flex;
    border-radius: 10px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid var(--blue-warm-vivid-70);
    gap: 12px;
}

.br-card--list__text {
    display: flex;
    padding: 0px;
    max-height: 40px;
    text-align: center;
    align-items: center;
    color: var(--blue-warm-vivid-70);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Rawline;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
}

.br-card--list__data__icon{
    display: flex;
    align-items: center;
    color: var(--blue-warm-vivid-70);
}

.br-message.info {
    margin-top: 20px;
}

.card__link{
    display: flex;
    align-items: center;
}

.doc_extension {
    text-transform: lowercase;
    text-align: left;
}

.attachments.images {
    background-color: white;
}

.section.images h3 {
    font-style: normal;
    font-weight: 600;
}

.attachments{
    background-color: var(--blue-3);
    display: flex;
    justify-content: center;flex-direction: column;
    padding: 20px;
    border-radius: 10px; 
    
}