<div class="comment__header__context-menu">
  <label for="<%= context_menu_id %>" data-toggle="<%= context_menu_id %>">
    <%= icon "ellipses" %>
  </label>
  <ul id="<%= context_menu_id %>" data-dropdown data-close-on-click="true" data-position="left" data-alignment="top" class="card dropdown-pane comment__header__context-menu__content">
    <li>
      <button type="button" class="link-alt comment__header__context-menu__content-item" data-open="<%= current_user.present? ? "flagModalComment#{model.id}" : "loginModal" %>" title="<%= t("decidim.components.comment.report.title") %>" aria-controls="<%= current_user.present? ? "flagModalComment#{model.id}" : "loginModal" %>" aria-haspopup="dialog" tabindex="0">
        <%= icon "flag", class: "icon--small", aria_label: t("decidim.components.comment.report.title") %>
        <span><%= t("decidim.components.comment.report.action") %></span>
      </button>
    </li>
    <li>
      <%= link_to "#{commentable_path("commentId" => model.id)}#comment_#{model.id}", target: "_blank", class: "comment__header__context-menu__content-item", title: t("decidim.components.comment.single_comment_link_title") do %>
        <%= icon "link-intact", class: "icon--small", aria_label: t("decidim.components.comment.single_comment_link_title") %>
        <span><%= t("decidim.components.comment.single_comment_link_title") %></span>
      <% end %>
    </li>
    <% if model.authored_by?(current_user) %>
      <li>
      <button type="button" class="link-alt comment__header__context-menu__content-item" data-open="<%= "editCommentModal#{model.id}" %>" title="<%= t("decidim.components.comment.edit") %>" aria-controls="<%= "editCommentModal#{model.id}" %>" aria-haspopup="dialog" tabindex="0">
          <%= icon "pencil", class: "icon--small", aria_label: t("decidim.components.comment.edit") %>
          <span><%= t("decidim.components.comment.edit") %></span>
      </button>
      </li>
      <li>
        <%= link_to comment_path, remote: true, method: :delete, class: "comment__header__context-menu__content-item", data: { confirm: t("decidim.components.comments.confirm_destroy") } do %>
          <%= icon "trash", class: "icon--small", aria_label: t("decidim.components.comment.delete") %>
          <span><%= t("decidim.components.comment.delete") %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<% unless reloaded? %>
  <% if current_user.present? %>
    <%= cell("decidim/flag_modal", model, modal_id: "flagModalComment#{model.id}") %>
  <% end %>
  <% if model.authored_by?(current_user) %>
    <%= cell("decidim/comments/edit_comment_modal_form", model, modal_id: "editCommentModal#{model.id}") %>
  <% end %>
<% end %>
